@import "../scss/index.scss";
.upcoming-container {
  width: 60%;
  height: 364px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  @include mq("phone-wide") {
    width: 100%;
  }
  @include mq("phone-small") {
    width: 100%;
  }
  @include mq("phone") {
    width: 100%;
  }
}
