@import './config/index';
body{
    font-family:myfont
}
@font-face {
    font-family: myfont;
    src: url('../assets/fonts/SFPRODISPLAYREGULAR.OTF');
 }
 
@font-face {
    font-family: myfont;
    src: url('../assets/fonts/SFPRODISPLAYBOLD.OTF');
    font-weight: bold;
 }
 @font-face {
    font-family: myspecialfont;
    src: url('../assets/fonts/MuseoModerno-Bold.ttf');
    font-weight: bold;
 }
 